extends ../layout.pug
block content
  div.container.post.post-new
    div.buttons
      a.btn.btn-default(href='/posts') Back

    form.post-form.form-horizontal(action='/posts' method='post')
      div.contentBox
        h3.contentBoxTop New Post
        fieldset
          div.form-group(class=errors.title ? 'has-error' : '')
            label.col-sm-2.control-labe(for='title') Title
            div.col-sm-10
              input#title.form-control(type='text' name='title' value=post.title)
              - if(erorrs.title) {
                span.help-block #{errors.title.message}
              - }

          div.form-group(class=errors.body ? 'has-error' : '')
            label.col-sm-2.control-labe(for='body') Body
            div.col-sm-10
              textarea#body.form-control(type='text' name='body' rows='5') #{post.body}
              - if(errors.body) {
                span.help-block #{errors.body.message}
              - }

      div.buttons
        button.btn.btn-default(type='submit') Submit
      - if(errors.unhandled) {
        div.alert.alert-danger
          #{errors.unhandled.message}
      - }
